*
{
    font-family: sans-serif;
    box-sizing:border-box;
}
/* Header */
#Header{
    min-height:150px;
    background-color:rgba(146, 143, 143, 0.37);
    display:flex;
    flex-direction: column;
}

.top-container
{
    display:flex;
    justify-content: flex-end;
}
ul
{
    display:flex;
    list-style-type: none;
}

li
{
    margin-left:20px;
}
.bottom-container
{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    
}
.icon
{
    height:30px;
    width:30px;
}

/*Body*/
