*
{
    font-family: sans-serif;
    box-sizing:border-box;
}

/* Header */
#Header{
    min-height:150px;
    background-color:hsla(0, 0%, 0%, 0.911);
    display:flex;
    max-width:100%;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width:100vw;
    clear:both;
    z-index:1000;
    padding:10px;
}
#Header h1
{
    color:hsla(0, 0%, 100%, 0.795)
}
.top-container
{
    display:flex;
    justify-content: flex-end;
    padding:10px;
}
#Header ul
{
    display:flex;
    list-style-type: none;
}

#Header li
{
    margin-left:20px;
    color:hsla(0, 0%, 100%, 0.795);
}
.bottom-container
{
    padding:10px;
    display:flex;
    justify-content: space-between;;
    align-items:flex-end;
    
}
.icon
{
    height:30px;
    width:30px;
}



/*Slideshow*/

.slideshow
{
    position:relative;
    width:100%;
    height:600px;
    padding-top: 150px;
    z-index:0;
}

.slideshow img
{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    transition:opacity 1s;
}

.slideshow img.active
{
    opacity:1;
}

.slideshow img:not(.active)
{
    opacity:0;
}

.container{
    padding-top:210px;
    width:100%;
}



/*midmenu*/
.mid-container
{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:20px;
}

.midtop
{
    display:flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
    color:black;
    
}

.miditem
{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    gap:10px;
    border:solid black 5px;
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.5);
    padding:5px;
}

.item
{
    width:calc(25% - 15px);
    border:solid black 1px;
    display:flex;
    flex-direction:column;
    align-items:center;
}


/*Footer*/
#footer-container
{
    background-color:black;
    color:grey;
    display:flex;
    flex-direction:column;
    padding:20px;
    margin-top:30px;
    font-size:18px;
    justify-content:space-evenly;
}

#footer-container hr
{
    border:solid grey 1px;
}

.footer-info
{
    display:flex;
    justify-content: space-between;
}

.footer-brand
{
    display:flex;
    align-items:center;
    border-right:solid grey 1px;
    padding-right:50px;
}

.footer-address ul li
{
    margin:10px;    
}

.copyright
{
    display:flex;
    justify-content: center;
    border-top:dashed grey 1px;
    margin-top:10px;
    padding-top:15px;
}


/*Login*/
.container_login
{
    display:none;
    position:fixed;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border:solid black 3px;
    max-width:800px;
    width:100%;
    border-radius:10px;
    z-index:10000;
}
.details_login
{
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.title_login
{
    display:flex;
    justify-content: space-between;
}
.title_login button
{
    border:none;
    font-weight: bold;
    font-size:20px;
    color:black;
    cursor: pointer;

}
.details_login span
{
    font-size:40px;
    font-weight:bold;
    text-decoration: underline;
}

.details_login label
{
    font-size:20px;
    font-weight:bold;
}

.details_login input[name="ten_login"] , .details_login input[name="pass_login"]
{
    border:solid black 1px;
    border-radius:3px;
    margin-top:5px;
    font-size:20px;
}

.details_login input[type="submit"]
{
    background-color:yellow;
    font-size:20px;
    width:100%;
    cursor:pointer;
}

.username-error , .password-error
{
    color:red;
    display:none;
    font-size:15px;
}

.toSignup
{
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.toSignup a
{
    color:hsl(61, 40%, 50%);
}

/*Signup*/
.container_signup
{
    display:none;
    position:fixed;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border:solid black 3px;
    max-width:800px;
    width:100%;
    border-radius:10px;
    z-index:10000;
}
.details_signup
{
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.input-signup
{
    margin-bottom:10px;
    width:calc(50% - 70px);
}
.title_signup
{
    display:flex;
    justify-content: space-between;
}
.signup
{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content: space-around;
}
.title_signup button
{
    border:none;
    font-weight: bold;
    font-size:20px;
    color:black;
    cursor: pointer;

}
.container_signup span
{
    font-size:40px;
    font-weight:bold;
    text-decoration: underline;
}

.details_signup label
{
    font-size:20px;
    font-weight:bold;
}

.input-signup input
{
    border:solid black 1px;
    border-radius:3px;
    margin-top:5px;
    font-size:20px;
}

.details_signup input[type="submit"]
{
    background-color:yellow;
    font-size:20px;
    width:100%;
    cursor:pointer;
}

.hovaten-error , .diachi-error , .sodienthoai-error , .username-signup-error , .pass-signup-error , .repass-error
{
    color:red;
    display:none;
    font-size:15px;
}